
/* about.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container-с{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 150px;
}


.YMap {
    
    min-width: 500px;
    width: 100%;
    min-height: 600px;
    height: 100%;

}


#contacts{
    
}


#map {
    width: 4000px;
    height: 2000px;
 }