

.container-с {
    width: 1250px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 150px;
    border: 1px solid rgb(131, 131, 131); /* Добавление толщины и стиля границы */
    border-radius: 5px; /* Увеличение радиуса границы для более заметного эффекта */
    padding: 20px; /* Добавление внутреннего отступа для улучшения внешнего вида */
}


.map {  
    width: 1200px;
    height: 400px;
}

#contacts{
    margin: 8px;
}