.product-us {
    border-radius: 10px;
    margin: 8px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 32px 22px;
    justify-content: space-between;
    min-height: 304px;
    height: 100%;
 }
 
button.product-us{
   color: slateblue;
}

.product-titleus {
    color: #2F2F2F;
    margin-top: 20px;
}

.product-content h2 {
   margin: 0;
}
 