<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omega</title>
</head>
<body>
    <h1>Контакты</h1>
    <h1>Адрес офиса</h1>

    <p>Ростовская обл. г.Зерноград, ул. Ленина 35</p>
    <p>+7 960 612 97 17</p>
    <p>omega-center@yandex.ru</p>

    <p>График работы</p>
    <p>Пн-Пт: с 9:00 до 17:00</p>

    <h2>Карта</h2>


    <h2>Отзывы</h2>
</body>
</html>