<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omega</title>
    <link rel="stylesheet" href="{% static 'shopapp/css/home.css' %}">
</head>
<body>
    <header>
    <div class="wrap-logo">
      <a href="" class="logo">Омега-центр</a>
    </div>
    <nav>
      <a href="">Главная</a>
      <a href="">Цены</a>
      <a href="">Услуги</a>
      <a href="">Бухгалтера</a>
      <a href="">Контакты</a>
      <a href="tel:+79606129717">+7 960 612 97 17</a>

      <div class="search">
          <form action="#">
              <input type="text" placeholder="Поиск..." name="search">
          </form>
      </div>
  </nav>
</header>

<table class="kart">
    <nav id="kart">
        <div class="product-wrap">
          <div class="product-title">
              <h3>Опыт работы больше 10 лет</h3>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Выгоднее, чем штатный бухгалтер</h3>
              <p>Стоимость услуг начинается от 800 рублей за нулевую отчетность для вашей компании</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Без лишних расходов</h3>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Опыт работы больше 10 лет</h3>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
          </div>
        </div>
    </nav>
</table>

<table class="kartus">
    <h1>Разовые бухгалтерские услуги:</h1>
    <nav id="kartus">
        <div class="product-us">
          <div class="product-titleus">
              <h3>Составление отчетности и деклараций</h3>
              <p>Составление декларации по первичной документации, введенн...</p>
              <h3>800 руб. / 1 декларация</h3>
              <div>
                    <a href="#" class="btn">Оставить заявку</a>
              </div>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h3>Составление отчетности и деклараций</h3>
              <p>Услуга «Главный бухгалтер»</p>
              <h3>800 руб. / 1 декларация</h3>
              <div>
                    <a href="#" class="btn">Оставить заявку</a>
              </div>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h3>Составление отчетности и декларацийм</h3>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
              <h3>от 2 500 руб.</h3>
              <div>
                    <a href="#" class="btn">Оставить заявку</a>
              </div>
          </div>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h3>Опыт работы больше 10 лет</h3>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h3>Без лишних расходов</h3>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
          </div>
        </div>
    </nav>
</table>



<div id="calculator">
    <h2>Организационно-правовая форма</h2>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>ИП</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>ООО</label>
    </div>

    <h2>Режим налогообложения</h2>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН 6%</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН 14%</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>Осн</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>Патент</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН+патент</label>
    </div>

    <div>
        <label>Кол-во сотрудников</label>
        <input class="sotr" type="number" id="ip" name="ip-ooo" checked="" onclick="">
    </div>

    <label for="pet-select">Система налогообложения:</label>

    <select name="pets" id="pet-select">
        <option value="">----</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
    </select>


    <label for="hours">Часы работы:</label>
    <input type="number" id="hours" min="0">
    <label for="rate">Стоимость за час:</label>
    <input type="number" id="rate" min="0">
    <button onclick="calculate()">Рассчитать</button>
    <h3 id="total"></h3>
</div>

<script>
    function calculate() {
        var hours = parseFloat(document.getElementById('hours').value);
        var rate = parseFloat(document.getElementById('rate').value);

        if (isNaN(hours) || isNaN(rate)) {
            document.getElementById('total').textContent = "Пожалуйста, введите корректные значения.";
        } else {
            var total = hours * rate;
            document.getElementById('total').textContent = "Общая стоимость: $" + total.toFixed(2);
        }
    }
</script>

</body>
</html>