<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omega</title>
    <link rel="stylesheet" href="{% static 'shopapp/css/home.css' %}">
</head>

<body>
    <header>
        <div class="wrap-logo">
          <a href="" class="logo">Омега-центр</a>
        </div>
        <nav>
          <a href="">Главная</a>
          <a href="{% url 'prices' %}">Цены</a>
          <a href="{% url 'services' %}">Услуги</a>
          <a href="{% url 'news' %}">Новости</a>
          <a href="{% url 'about' %}">Контакты</a>
          <a href="tel:+79606129717">+7 960 612 97 17</a>

          <div class="search">
              <form action="#">
                  <input type="text" placeholder="Поиск..." name="search">
              </form>
          </div>
      </nav>
    </header>

<table class="kart">
    <nav id="kart">
        <div class="product-wrap">
          <div class="product-title">
              <h3>Опыт работы больше 10 лет</h3>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Выгоднее, чем штатный бухгалтер</h3>
              <p>Стоимость услуг начинается от 800 рублей за нулевую отчетность для вашей компании</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Без лишних расходов</h3>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
          </div>
        </div>

        <div class="product-wrap">
          <div class="product-title">
              <h3>Опыт работы больше 10 лет</h3>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
          </div>
        </div>
    </nav>
</table>

<table class="kartus">
    <h1>Разовые бухгалтерские услуги:</h1>
    <nav id="kartus">
        <div class="product-us">
          <div class="product-titleus">
              <h3>Составление отчетности и деклараций</h3>
              <p>Составление декларации по первичной документации, введенн...</p>
              <h3>800 руб. / 1 декларация</h3>
              <button class="button">Оставить заявку</button>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h4>Составление отчетности и деклараций</h4>
              <p>Услуга «Главный бухгалтер»</p>
              <h4>800 руб. / 1 декларация</h4>
              <button class="button">Оставить заявку</button>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h4>Составление отчетности и декларацийм</h4>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
              <h4>от 2 500 руб.</h4>
              <button class="button">Оставить заявку</button>
          </div>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h4>Опыт работы больше 10 лет</h4>
              <p>У нас работают первоклассные специалисты, которые продолжают повышать свой уровень несмотря на большой багаж знаний и опыта</p>
              <h4>от 2 500 руб.</h4>
              <button class="button">Оставить заявку</button>
          </div>
        </div>

        <div class="product-us">
          <div class="product-titleus">
              <h4>Без лишних расходов</h4>
              <p>Тарифы зависят от режима налогообложения, количества сотрудников и ежемесячных хозяйственных операций.</p>
              <h4>от 2 500 руб.</h4>
              <button class="button">Оставить заявку</button>

          </div>
        </div>
    </nav>
</table>


<h1>Калькулятор/Посчитай цену своей услуги</h1>

<div id="calculator">
    <form action="">
        {% csrf_token %}
    <p>Организационно-правовая форма</p>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>ИП</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>ООО</label>
    </div>

    <p>Режим налогообложения</p>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН 6%</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН 14%</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>Осн</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>Патент</label>
    </div>

    <div>
        <input class="check-radio-btn" type="radio" id="ip" name="ip-ooo" checked="" onclick="">
        <label>УСН+патент</label>
    </div>

    <div>
        <label>Кол-во сотрудников</label>
        <input class="sotr" type="number" id="ip" name="number1" checked="" onclick="">
    </div>

    <label for="pet-select">Система налогообложения:</label>

    <select name="pets" id="pet-select">
        <option value="">----</option>
        <option value="dog">Торговля(розничная)</option>
        <option value="cat">Грузоперевозки</option>
        <option value="hamster">Общепит</option>
        <option value="parrot">Бытовые услуги</option>
    </select>


    <label for="hours">Часы работы:</label>
    <input type="number" id="hours" min="0" name="number2">

    <button name="add">Рассчитать</button>
    <h3 id="total">{{ans}}</h3>
    </form>
</div>

    <nav class="but_crl">
        <a href="#" id="scroll_top">Наверх</a>
    </nav>


    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(function(){
	    $('#scroll_top').click(function(){
		    $('html, body').animate({scrollTop: 0}, 600);
		        return false;
	           });
    });

</script>


<footer>
    <nav>
        <div class="wrap">
            <ul>
            <li>Главная</li>
            <li>Цены</li>
            <li>Услуги</li>
            <li>Бухгалтера</li>
            <li>Контакты</li>
          </ul>
          <ul>
            <li class="bold">Реквизиты</li>
            <li>ИП Омега-центр</li>
            <li>ИНН 087665647</li>
            <li>КПП 087665647</li>
          </ul>
          <ul>
              <li class="bold">Компания</li>
              <li>+7 960 612 97 17</li>
              <li>omega-center@yandex.ru</li>
              <li>Ростовская обл. г.Зерноград, ул. Ленина 54</li>
          </ul>
            <ul>
              <li class="bold">График работы</li>
              <li>Пн-Пт: с 9:00 до 17:00</li>
          </ul>
        </div>
    </nav>
</footer>

</body>
</html>