<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>services</title>
</head>
<body>
    <header>
        <div class="wrap-logo">
          <a href="" class="logo">Омега-центр</a>
        </div>
        <nav>
          <a href="">Главная</a>
          <a href="{% url 'prices' %}">Цены</a>
          <a href="{% url 'services' %}">Услуги</a>
          <a href="{% url 'news' %}">Новости</a>
          <a href="{% url 'about' %}">Контакты</a>
          <a href="tel:+79606129717">+7 960 612 97 17</a>

          <div class="search">
              <form action="#">
                  <input type="text" placeholder="Поиск..." name="search">
              </form>
          </div>
      </nav>
    </header>



    <h1>КАКИЕ УСЛУГИ МЫ ОКАЗЫВАЕМ?</h1>
        <p> «Оптимал Бух» предлагает бухгалтерские услуги на аутсорсинге более 15 лет, то есть оказание осуществляется
            практически с момента появления этого вида взаимодействия. Наша ответственность застрахована на 2 млн рублей –
            это указано в договоре. Если специалист допустит ошибку, мы возместим ущерб.</p>
    <ul>
        <li>Ставим бухгалтерский учет с нуля</li>
        <li>Разрабатываем организациям систему правильного документооборота</li>
        <li>Снижаем налоги с помощью легальных механизмов</li>
        <li>Ставим бухгалтерский учет с нуля.</li>
        <li>Работаем с любыми формами отчетности и любыми организационно-правовыми формами</li>
        <li>Разрабатываем учетную политику предприятия</li>
        <li>Предоставляем отчетность (в том числе нулевую) в налоговые органы</li>
        <li>Регистрируем юридических лиц и индивидуальных предпринимателей</li>
        <li>Консультируем по вопросам бухгалтерского и финансового учета</li>
        <li>Рассчитываем налоги и своевременно сдаем декларации</li>
        <li>Легально оптимизируем налогообложение предприятий, частного бизнеса и индивидуальных предпринимателей</li>
    </ul>
</body>
</html>